<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Quote</title>
</head>
<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div>
        <section>
            <h1>Add a New Quote</h1>
            <form action="/quotes/create" method="POST">
                {% csrf_token %}
                <div>
                    <label for="author">Author</label>
                    <input type="text" name="author" id="author">
                </div>
                <div>
                    <label for="description">Description</label>
                    <input type="text" name="description" id="description">
                </div>
                <button type=submit >Submit</button>
            </form>
    
</body>
</html>