<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>User: {{user.first_name}} {{user.last_name}} </h2> 
    <h2>Email: {{user.email}}</h2>
   <h3>Total Quotes: {{user.has_created_quotes.count}}</h3>
    {% for quote in user.has_created_quotes.all %}
    {{ quote.author}}
    {{ quote.description }}
    {% endfor %}
</body>
</html> 
 